extends layout

block content
  h1=title
  form(method='POST' action='')
    div.form-group
      label(for='steam_name') Steam Name:
      input#steam_name.form-control(type='text', placeholder='Steam Name' name='steam_name' required='true' value=(undefined===player ? '' : player.steam_name) )

    div.form-group
 
      label(for='ign') ign:
      input#ign.form-control(type='text', placeholder='In Game Name' name='ign' value=(undefined===player ? '' : player.ign))
    div.form-group
      label(for='battlemetrics_id') battlemetrics_id:
      input#ign.form-control(type='text', placeholder='battlemetrics_id' name='battlemetrics_id' value=(undefined===player ? '' : player.battlemetrics_id))
    div.form-group
      label(for='notes') notes:
      input#ign.form-control(type='text', placeholder='notes' name='notes' value=(undefined===player ? '' : player.notes))
    div.form-group
        label Tribes:
        div
        for tribe in tribes
            div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='tribe', id=tribe._id, value=tribe._id, checked=tribe.checked )
            label(for=tribe._id) #{tribe.tribe_name}
            br
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg