extends layout

block content

  h1 Server: #{server.name}
   
  div(style='margin-left:20px;margin-top:20px')

  h3 Server Cluster: 
    each val, index in server.servercluster
      a(href=val.url) #{val.servercluster_name}
      if index < server.servercluster.length - 1
        |, 
      
  hr
  p
    a(href=server.url+'/delete') Delete Server
  p
    a(href=server.url+'/update') Update Server
